.cardsocial{
    width: 331px;
    height: 383px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #2699fb;
    background:rgba(213,236,255,255);

}
.cardsocialhead{
    left: 1165.416015625px;
    display: flex;
    background:rgba(213,236,255,255);
    border: none;
}
.cardsocialimg,
.cardsocialimgs {
    margin-top: 20px;
    width: 32.583374023438px;
    height: 32.58349609375px;
    background:rgba(255,255,255,0);
}
.cardsocialimgs{
    margin-left: 230px;
}
.cardbody {
    justify-content: center;
    align-items: center;
}
.cardbodyimg {
    opacity: 1;
    top: 2668px;
    margin-left: 41px;
    width: 220.00006103516px;
    height: 110px;
    background:rgba(255,255,255,0);
}
.cardtext {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat';
    font-size: 13px;
    text-align: justify;
    color:#2699fb;
    justify-self: center;
    margin-top: 87px;
    left: 813px;
}